<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qf.dao.UserMapper">
    <select id="selectByTelAndPassword" resultType="user">
        SELECT  *  FROM  sys_user where tel=#{tel} and password = #{password}
    </select>

    <insert id="insertUser">
        insert  into sys_user(tel,password,email,invitation)  values(#{tel},#{password},#{email},#{invitation})
    </insert>

    <update id="update">
            update sys_user
            <trim prefix="set" suffixOverrides=",">
                <if test="tel!=null and tel != ''">
                    tel = #{tel},
                </if>
                <if test="password!=null and password !=''">
                    password = #{password},
                </if>
                <if test="email!=null and email !=''">
                    email = #{email},
                </if>
                <if test="invitation!=null and invitation !=''">
                    invitation = #{invitation},
                </if>
            </trim>
            <where>
                id= #{id}
            </where>
    </update>

    <select id="selectAll" resultType="user">
        select * from sys_user
    </select>

    <select id="selectOneById" resultType="user">
        select * from sys_user where id=#{id}
    </select>

    <delete id="deleteById">
        delete from sys_user where id=#{id}
    </delete>
</mapper>